{{#extends 'base'}}

{{#block "content"}}
<h1>All Food Sightings</h1>
<a href="/create_sighting" class="btn btn-primary">Add New</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Food</th>
            <th>Date/Time</th>
            <th></th>
        </tr>
    </thead>
    {{#each sightings}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.description}}</td>
            <td>{{this.food}}</td>
            <td>{{this.datetime}}</td>
            <td><a class="btn btn-primary btn-sm" href="/update_sighting/{{this._id}}">Update</a></td>
        </tr>
    {{/each}}
</table>
{{/block}}

{{/extends}}